<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286476221066-diaev6lbujnotot80qeuh1frthh7hdf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286476221066-diaev6lbujnotot80qeuh1frthh7hdf6</string>
	<key>API_KEY</key>
	<string>AIzaSyCucAwhzMVhAx8unu8Y-mRtUJk2SwzVdLc</string>
	<key>GCM_SENDER_ID</key>
	<string>286476221066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cornMarket</string>
	<key>PROJECT_ID</key>
	<string>corn-market-24cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>corn-market-24cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286476221066:ios:b5f47650abfe3e7ae18b73</string>
</dict>
</plist>